<meta name="theme-color" content="#F6F6FB">
<link rel="shortcut icon" href="{{"favicons/favicon.ico" | relURL}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{"favicons/favicon-32x32.png" | relURL}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{"favicons/favicon-16x16.png" | relURL}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{"favicons/apple-touch-icon.png" | relURL}}">
<link rel="mask-icon" href="{{"favicons/safari-pinned-tab.svg" | relURL}}" color="#252627">
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.sitename }}" /> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="msapplication-config" content="{{"favicons/browserconfig.xml" | relURL}}" />
<link rel="manifest" href="{{"manifest.json" | relURL}}">
