@media only screen and (max-width: 479px){
  :root{
    font-size: 9px;
  }
  .contribute__flex .contribute__left {
    max-width:100%;
    margin-bottom: 1.5rem;
  }
  .contribute__flex{
    flex-direction: column;
    text-align: center;
  }
  .contribute__flex .contribute__right {
    margin-left: initial;
  }
  .header--1 .img-1 {
    right: 0;
    height: 18rem;
  }
  .header--1 .img-2 {
    right: 10rem;
    bottom: 2px;
    height: 14rem;
  }
  .footer__menu {
    flex: 0 0 50%;
  }
  .main__footer {
    background: #F6F6FB;
    padding: 8rem 1.5rem;
    margin: 6rem 0 0;
  }
  .setup__box__bg:after{
    right:0;
  }
  .feature__item__list {
    flex: 0 0 50%;
  }
  header {
    padding: 3rem 1.5rem;
    margin: 0 0;
  }
  .setup__box__bg:before{
    right: 0;
  }
  .row{
    margin: 0;
  }
  .mob__login .login__header {
    top: 2.5rem;
    right: 18px;
  }
  .popular__item__list {
    flex: 0 0 100%;
  }
  #sidebarCollapse.btn-info {
    left: 62px;
    top: 31px;
  }
  .title__head {
    font-size: 3rem;
  }
  .setup__box__bg .setup__box__content h2 {
    margin: 3rem 0;
  }
  .header__infos h2{
    font-size: 3.8rem;
  }
  .contribute__flex .contribute__left h3 {
    font-size: 2.8rem;
  }
  .header--2 .img-4{
    right: 0;
    top: 25px;
    height: 12rem;
  }
  .header--2 .img-3 {
    position: absolute;
    top: auto;
    height: 10rem;
    bottom: -16px;
  }
  .col__left{
    margin:3rem 0;
  }
  #main__content{
    padding: 0;
  }
  .header__search {
    padding: 0 1.5rem;
  }
  main {
    padding: 0 1.5rem;
  }
  #main__content.active {
    width: calc(100% - 120px);
  }
  #main__content.active #sidebarCollapse.btn-info {
    left: 110px;
    z-index: 999;
  }
  .col__right{
    margin-top:2.5rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
  :root{
    font-size: 9px;
  }
  .contribute__flex .contribute__left {
    max-width:100%;
    margin-bottom: 1.5rem;
  }
  .contribute__flex{
    flex-direction: column;
    text-align: center;
  }
  .contribute__flex .contribute__right {
    margin-left: initial;
  }
  .header--1 .img-1 {
    right: 0;
    height: 18rem;
  }
  .header--1 .img-2 {
    right: 10rem;
    bottom: 2px;
    height: 14rem;
  }
  .header--2 .img-4{
    right: 0;
    top: 25px;
    height: 12rem;
  }
  .header--2 .img-3 {
    position: absolute;
    top: auto;
    height: 10rem;
    bottom: -16px;
  }
  .footer__menu {
    flex: 0 0 33.333%;
  }
  .main__footer {
    background: #F6F6FB;
    padding: 8rem 1.5rem;
    margin: 6rem 0 0;
  }
  .setup__box__bg:after{
    right:0;
  }
  .feature__item__list {
    flex: 0 0 50%;
  }
  header {
    padding: 3rem 1.5rem;
    margin: 0 0;
  }
  .setup__box__bg:before{
    right: 0;
  }
  .row{
    margin: 0;
  }
  .mob__login .login__header {
    top: 2.5rem;
  }
  .popular__item__list {
    flex: 0 0 50%;
  }
  .col__left{
    margin:3rem 0;
  }
  #main__content{
    padding: 0;
  }
  .header__search {
    padding: 0 1.5rem;
  }
  main {
    padding: 0 1.5rem;
  }
  #main__content.active {
    width: calc(100% - 120px);
  }
  #sidebarCollapse.btn-info{
    left: 65px;
    top: 31px;
  }
  #main__content.active #sidebarCollapse.btn-info {
    left: 110px;
    z-index: 999;
  }
  .col__right{
    margin-top:2.5rem;
  }

}
@media only screen and (min-width: 768px) and (max-width: 991px){
  :root{
    font-size: 9px;
  }
  #main__content{
    width: calc(100% - 220px);
    padding: 0 3rem;
  }
  #sidebar{
    width:24rem
  }
  .contribute__flex .contribute__left {
    max-width:100%;
    margin-bottom: 1.5rem;
  }
  .contribute__flex{
    flex-direction: column;
    text-align: center;
  }
  .contribute__flex .contribute__right {
    margin-left: initial;
  }
  .header--1 .img-1{
    right: 0;
  }
  .header--1 .img-2{
    right: 11rem;
  }
  .header--2{
    padding: 3rem 0;
  }
  .footer__list figure{
    text-align: center;
    margin-bottom: 2rem;
  }
  .footer__menu{
    margin-bottom: 1.5rem;
  }
  header .navbar-expand-lg .navbar-collapse {
    background: $white;
  }
  .header--2 .img-4{
    right: 0;
    top: 25px;
    height: 12rem;
  }
  .header--2 .img-3 {
    position: absolute;
    top: auto;
    height: 10rem;
    bottom: -16px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
  #main__content{
    width: calc(100% - 240px);
    padding: 0 3rem;
  }
  #sidebar{
    width:24rem
  }
  .help__box__bg .help__box__content {
    margin-left: 1rem;
    flex: 0 0 70%;
    max-width: 70%;
  }
  .contribute__flex .contribute__left {
    max-width: 50rem;
  }
}

