#sidebar {
  width: 21rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: $global_color;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 2rem 4rem 4rem 4rem;
  transition: all 0.3s;
  .sidebar__logo{
    margin-bottom: 2rem;
    .logo-sidebar_img{
      height: 35px;
    }
  }
}
.dropdown-toggle::after{
  display: none;
}
.sidebar__menu ul li.active .collapse li a:before{
  display: none;
}

// navigation //
.sidebar__menu{
  ul{
    li{
      margin: 1.1rem 1rem 1.1rem 0;
      position: relative;
      a{
        text-decoration: none;
        text-transform: uppercase;
        color:$white-shadow;
        font-weight: 600;
        display: block;
        position: relative;
        display: block;
        transition-duration:240ms;
      }
    }
  }
}
.sidebar__menu ul ul a {
  text-transform: capitalize;
}

.sidebar__menu>ul>li>a:hover{
    color:$grey3;
}
.sidebar__menu>ul>li>ul li a:hover{
  color: lighten($lightpurple, 15%);
}

@mixin nav-red-cursor {
  content: '';
  background: $red1;
  width: 3.5rem;
  height: .4rem;
  position: absolute;
  left: 0;
  left: -43px;
  top: 10px;
}
.sidebar__menu ul li a:hover a:before{
  color: $red1;
}
.sidebar__menu a.active{
  color:$white;
}
.sidebar__menu ul li.active a:before{
  color: $red1;
}
.mCSB_container{
  padding: 4rem;
  box-sizing: border-box;
}
#sidebar.active {
  margin-left: -300px;
}
.sidebar__menu ul ul{
  padding-left: 2rem;
}
.sidebar__menu ul  li.active ul li a:before{
  display: none;
}
// content //
#main__content {
  width: calc(100% - 300px);
  padding: 0 6rem 0;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
#main__content.active {
  width: 100%;
}
@media (max-width: 767px) {
  #sidebar {
      margin-left: -300px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #main__content {
      width: 100%;
      padding: 0 1.5rem;
  }
  #main__content.active {
      width: calc(100% - 255px);
  }
  #sidebarCollapse span {
      display: none;
  }
  
}

#sidebarCollapse.btn-info {
  color: $white;
  background-color: $global_color1;
  border-color: $global_color1;
  position: absolute;
  left: 78px;
  top: 33px;
  border-radius: 0;
  z-index: 1;

}

.chevron {
      background:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#8c8c8d'viewBox='0 0 491.996 491.996' xmlns:v='https://vecta.io/nano'><path d='M484.132 124.986l-16.116-16.228a26.72 26.72 0 0 0-19.032-7.86c-7.208 0-13.964 2.792-19.036 7.86l-183.84 183.848L62.056 108.554c-5.064-5.068-11.82-7.856-19.028-7.856s-13.968 2.788-19.036 7.856l-16.12 16.128c-10.496 10.488-10.496 27.572 0 38.06l219.136 219.924c5.064 5.064 11.812 8.632 19.084 8.632h.084c7.212 0 13.96-3.572 19.024-8.632l218.932-219.328c5.072-5.064 7.856-12.016 7.864-19.224 0-7.212-2.792-14.068-7.864-19.128z'/></svg>");
      transform: rotate(-90deg);
      width: 10px;
      height: 10px;
      position:absolute;
      left: -15px;
      top: 7px;
      background-repeat: no-repeat;
      transition: transform 100ms;
}

.chevronopen {
  transform: rotate(0deg);
  transition: transform 100ms;
}

.chevron:hover {
  transform: rotate(0deg);
  cursor: pointer;
}

.darkSwitch {
  color: $white-shadow;
}